*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wrapper{
    max-width: 100%;
    padding: 20px;
}

.gif{
    height: 100%;
    width: 100%;
}

h2{
    text-align: center;
    font-size: 1.5em;
    color: #e94d58;
    margin: 15px 0;
    word-wrap: break-word;
    line-height: 1.4;
}

.btn-group{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

button{
    position: absolute;
    width: 150px;
    height: inherit;
    color: white;
    font-size: 1.2em;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
    box-shadow: 0 2px 4px gray;
    border: 2px solid #e94d58;
    font-size: 1.2em;
}

button:nth-child(1){
    margin-left: -200px;
    background: #e94d58;
}

button:nth-child(2){
    margin-right: -200px;
    background-color: white;
    color: #e94d58;
}

/* Mobile Responsive Styles */
@media (max-width: 768px) {
    h2{
        font-size: 1.2em;
        padding: 0 10px;
    }
    
    .gif{
        max-width: 90%;
        margin: 0 auto;
    }
    
    button{
        width: 120px;
        font-size: 1em;
    }
    
    button:nth-child(1){
        margin-left: -150px;
    }
    
    button:nth-child(2){
        margin-right: -150px;
    }
}

@media (max-width: 480px) {
    h2{
        font-size: 1em;
        padding: 0 5px;
    }
    
    .wrapper{
        padding: 10px;
    }
    
    button{
        width: 100px;
        font-size: 0.9em;
    }
    
    button:nth-child(1){
        margin-left: -120px;
    }
    
    button:nth-child(2){
        margin-right: -120px;
    }
}
